@import url("https://fonts.googleapis.com/css?family=Pacifico");

@font-face {
  font-family: "Pertili";
  src: url("./components/Fonts/PERTIBD.TTF");
}

@font-face {
  font-family: "Courier New";
  src: url("./components/Fonts/cour.ttf");
}

@font-face {
  font-family: "ENGR";
  src: url("./components/Fonts/ENGR.TTF");
}

body {
  margin: 0;
  font-family: "Aharoni" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2 !important;
  background-size: 100% !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.NavFont {
  font-size: medium;
  font-family: "Pertili" !important;
}

#signin {
  background-color: springgreen;
}

.MuiButton-root {
  width: 200px !important;
  height: 60px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.firebaseui-idp-button {
  background-color: #3f51b5 !important;
  width: max-content !important;
}

.firebaseui-idp-text {
  color: black !important;
}

.MuiPaper-rounded {
  align-items: center !important;
}
.makeStyles-root-234 {
  width: auto !important;
}
/* .MuiGrid-spacing-xs-2 {
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  width:fit-content !important;
} */
.firstStep {
  padding-bottom: 50px;
}
.MuiTab-root {
  min-width: 70px !important;
}
.MuiAppBar-colorDefault {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f5f5;
  width: fit-content !important;
}
/*
.MuiGrid-spacing-xs-2 {
  padding: 8px;
  text-align: -webkit-center !important;
}*/
.MuiInputLabel-outlined.MuiInputLabel-marginDense {
  transform: translate(14px, 12px) scale(1);
  padding-top: 4px !important;
}
.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon
  .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
  padding-right: 65px;
  height: 48px !important;
}
