@import url("https://fonts.googleapis.com/css?family=Pacifico");
body {
  margin: 0;
  font-family: "Pacifico", cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.NavFont {
  font-size: smaller;
  font-family: "Pacifico", cursive !important;
}
